:root {
  --ion-color-primary: #ff840e; /* Blaze main colour. */
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #d16c0e;
  --ion-color-primary-tint: #fda857;

  --ion-color-secondary: #22a699; /* Blaze secondary colour. */

  --ion-text-color: #333333; /* Blaze text colour. */

  --ion-toolbar-md-background-color: #ff840e; /* Blaze logo secondary colour (#ffdd00). */
  --ion-toolbar-border-color: #ff840e;
}

/* Make sure <code> gets the secondary colour. */
code {
  color: var(--ion-color-secondary);
}

/* Make sure <a><code/></a> underline is the same colour as the <code>. */
a code {
  text-decoration: underline;
}
